[user]
        name = sammychl
        email = sammychl@gmail.com
[core]
        autocrlf = input
        safecrlf = true
        excludesfile = /home/ubuntu/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
